{% load static %}
<div>
  <div style="position: sticky; min-height: 90vh; overflow-y: hidden; max-height: 100vh;">
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#" style="color: rgb(117, 117, 117);">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" viewBox="0 0 576 512"> <path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
            <span style="font-size: 1.1rem; font-weight: 500;">
              <!-- <svg class="bi" style="margin-right: 0.2rem;"><use xlink:href="#house-fill"/></svg> -->
                <span style="margin-left: -0.2rem;">Dashboard</span>
            </span>
            
          </a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{% url 'expenses' %}">
            <span style="font-size: 1rem;">Expenses</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <span style="font-size: 1rem;">Income</span>
          </a>
        </li>
      </ul>
    
      <!-- <hr class="my-3"> -->
    
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
         
        <span style="font-size: 1rem; font-weight: 500;">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm64 192c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V256c0-17.7 14.3-32 32-32zm64-64c0-17.7 14.3-32 32-32s32 14.3 32 32V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V160zM320 288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V320c0-17.7 14.3-32 32-32z"/></svg> 
          <span style="margin-left: 0.2rem;">Summary</span>
        </span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
        </a>
      </h6>
      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <span style="font-size: 1rem;">Expenses Summary</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <span style="font-size: 1rem;">Income Summary</span>
          </a>
        </li>
      </ul>
    
      <hr class="my-3">
    
      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{% url 'preferences' %}">
            <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>
            General Settings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi"><use xlink:href="#door-closed"/></svg>
            Account
          </a>
        </li>
      </ul>
    </div>
  </div>
  
</div>
