{% load static %}
<html lang="en" data-bs-theme="auto">
  <head>
    <!-- <script src="{% static 'js/color-modes.js' %}"></script> -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>CoinCraft {% block title %}· {% endblock %} </title>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"> -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>
  <body>

  <!-- <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark" style="height: 80px;">
      <a class="navbar-brand me-0 px-3 fs-6" href="{% url 'expenses' %}" style="background-color: #28242c;">CoinCraft</a>
  </header> -->

  <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow mb-5" data-bs-theme="dark" >
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="display: flex; align-items: center; align-content: center; text-align: center; padding-left: 1.5rem;">CoinCraft</a>

      <span class="navbar-brand col-sm-3 col-md-10 mr-0" style="height: 3.5rem; overflow: hidden; width: 100vw; margin-left: -1rem;"></span>
    
      <ul
        class="navbar-nav px-3"
        style="display: flex; flex-direction: row; align-items: center;"
      >
      </ul>
    </nav>
  </header>

<div class="container-fluid">
  <div class="row">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">CoinCraft</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>

      </div>
  
    </div>

    <main class="col-md-12">  

        {% block content %}

        {% endblock %}

    </main>
  </div>
</div>

<!-- <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>
    </body>
</html>
